* {
    background-color:#e6f3ff;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.info {
    padding: 1%;
}


label {
    display: inline;
    font-size: large;
}

div input[type=text] {
    margin-bottom: 3%;
    display: inline;
    background-color:white ;
    border: 1px solid #ccc;
    max-width: 50%;
    font-size: large;
}



div input[type=submit] {
    width: max-content;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2%;
    background-color: white;
    font-size: large;
  }