body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

* {
    padding:0;
    margin: 0;
}

#meni {
    background-color: #cce6ff;
    width: 100%;
}

 #meni ul {
    height: 100px;
}

#meni li {
    display: inline;
    padding: 1em;
}

 a {
    text-decoration: none;
    font-size: 2em;
    color: darkslategray;       
   line-height: 90px;                                /*vertikalno centriranje menija */
}


#odabirVjezbe {
    width: 33%;
    float: left; 
}

.grid-container {
    display: grid;
    grid-template-rows:7;
    gap:0.5em;
    width: 34%;
    float: left;
    padding: 1%;
}

.item1 {
    background-color:#c6d7ec;
    border: 1px solid rgb(64, 152, 224);
    padding: 20px;
    font-size: small;
    text-align: center;
    float: left;
}

button {
    display: inline;
    border: 1px solid rgb(64, 152, 224);
    padding: 1%;
    background-color: #c6d8ec;
    font-size: xx-small;
}

.item2 {
    background-color: #79a3d2;
    margin: 0;
    padding: 0;
    visibility: visible;
}


.item2 {
    background-color: #79a3d2;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.grafovi {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    float: right;
    max-width: 64%;
    margin:0;
    padding:0;
}

.graf img{
    max-width: 100%; 
    height: max-content;
    padding: 0;
    margin: 0;
}

.komit {
    background-color: rgb(64, 152, 224);
    text-align: center;
    padding:2%;
    margin:0;
}

.graf {
    padding:1%;
    border: 1px solid rgb(64, 152, 224);
}


@media only screen and (max-width: 799px) {

        .grid-container {
            width: 100%;
        }

        .grafovi {
            display: block;
            max-width: 100%;
        }
    }