* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
}



#meni {
    background-color: #cce6ff;
    width: 100%;
}

 #meni ul {
    height: 100px;
}

#meni li {
    display: inline;
    padding: 1em;
}

 a {
    text-decoration: none;
    font-size: 2em;
    color: darkslategray;       
 /*   line-height: 90px;        */                          /*vertikalno centriranje menija */
}

.grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

#studenti {
    background-color:#e6f3ff;
}

#grupe {
    background-color: #e3f1fc   /*#d7e3f5*/ /* #ecf2f9*/;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
 }

 th {
     text-align: left;
 }

 table {
     table-layout: auto;
     width: 100%;
 }

 th,td {
     font-size: 2vw;
 }

 .students {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-flow: row;
    gap: 0.5em;
    max-width: 100%;
    margin: 20px;
 }

.studentiInfo {
   border: 1px solid black;
   border-radius: 10px;
    max-width: 70%;
}

.studentiInfo li{
    list-style-type: none;
    text-align: center;
   font-size: small;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 499px) {
	
   #meni li {
        display: block;
        padding : 0.5em;
    }

    a {
        font-size: 1em;
    }

.grid {
    display: grid;
    grid-template-columns:1fr;
}

td, th {
    font-size: medium;
}

th:not(:nth-child(1)), td:not(:nth-child(1)) {
    display: none;
  }

}

@media screen and (min-width: 500px) and (max-width: 799px){

    .grid {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 800px) {

    a {
        line-height: 90px;
    }
    
    #studenti {
        grid-row-start: 1;
      
    }

    #grupe {
        grid-column-start: 2;
        grid-column-end: 3 ;
       
    }
    
    .grid {
        display: grid;
        grid-template-columns: 60% 40%;
    }
}