* {
    background-color: #e6f3ff;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}


select {
    width: 100%;
    padding: 1% 1%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
  
  input[type=submit], button {

    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    margin-top: 3%;
  }

  textarea {
      background-color: white;
      margin-top: 1%; 
  }

  label, #bezGresaka {
      margin-top: 5%;
  }

  input[type=checkbox] {
    transform: scale(1.5);
}